:root {
  font-family:
    Avenir Next,
    Futura;
  color: #1a1a1a;
  --content-max: 1440px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scrollbar-gutter: stable;
  background-color: #f5f4ef;
}

main {
  max-width: var(--content-max);
  margin: 0 auto;
  padding: 30px;
  box-sizing: border-box;
}
