.contact-logo {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  max-width: 1200px;
  margin: 0 auto;
}

.contact-logo img {
  max-height: 80%;
  max-width: 80%;
  height: auto;
}
