.howitworks-logo {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.howitworks-logo img {
  max-height: 80%;
  max-width: 80%;
  height: auto;
}

.howitworks-template {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 90px 10px;
  background-color: #f9f9f9;
  margin: 0;
}

.howitworks-template-text {
  flex: 1;
  padding: 0 20px;
}

.howitworks-template-text h1 {
  font-size: 2rem;
  color: #000;
  margin-bottom: 15px;
}

.howitworks-template-text h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: left;
}

.howitworks-template-text p {
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
  font-weight: bold;
}

.howitworks-template-img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.howitworks-template-img img {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.howitworks-img {
  width: 80%;
  height: auto;
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.howitworks-img img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .howitworks-template {
    flex-direction: column;
    padding-right: 50px;
  }

  .howitworks-template-text,
  .howitworks-template-img {
    flex: none;
    width: 100%;
  }

  .howitworks-template-img {
    margin-top: 20px;
  }

  .howitworks-img {
    width: 100%;
    max-width: 100%;
  }
}
