header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: 80px;
  /* background-image: url("/images/fmbackground.png");
  background-size: cover;
  background-position: center; */
  /* border-bottom: 5px solid white; */
  margin: 0 auto;
}

@media (max-width: 850px) {
  .navbar {
    display: none;
  }
}

@media (min-width: 850px) {
  .toggle {
    display: none;
  }
}

.logo {
  padding-left: 30px;
  display: flex;
}

.logo img {
  width: 150px;
  height: auto;
  object-fit: contain;
}

.header-divider {
  width: 100%;
  height: 5px;
  background-color: white;
  margin: 0;
  margin: 0 auto;
  max-width: 1200px;
  border-radius: 5px;
}
